{% extends 'utils/base.html' %}
{% block title %}Cadastrar paciente{% endblock %}
{% block main %}

<div id="register-patient-page">

    <div class="card rounded px-5 py-5 mx-5 my-5">
        <div class="div py-4">
            <a href="/dashboard" class="btn">Voltar</a>
        </div>
        
        <h1>Cadastro de paciente</h1>
        <p>Preencha os campos abaixo para cadastrar um novo paciente</p>
        
        <form method="POST">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="name" name="name" placeholder="Nome completo">
                <label for="name">Nome completo</label>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="date" id="birthday" name="birthday" placeholder="Data de nascimento">
                        <label for="birthday">Data de nascimento</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="cpf" name="cpf" placeholder="CPF">
                        <label for="cpf">CPF</label>
                    </div>
                </div>

                <div class="col">
                    <select class="form-select" aria-label="Default select example" name="sex" id="sex">
                        <option selected disabled>Sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="contact" name="contact" placeholder="Contato">
                        <label for="contact">Contato</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="email" name="email" placeholder="E-mail">
                        <label for="email">E-mail</label>
                    </div>
                </div>
            </div>
        
            <button type="submit" class="btn primary-color-app white-text full-width">Cadastrar</button>
        </form>
    </div>
</div>


{% endblock %}
