{% extends 'utils/base.html' %}
{% block title %}Cadastrar paciente{% endblock %}
{% block main %}

<div id="register-patient-page">

    <div class="card rounded px-5 py-5 mx-5 my-5">
        <div class="div py-4">
            <a href="/dashboard" class="btn">Voltar</a>
        </div>


        <div class="row">
            <div class="col">
                <h1>Cadastro de plano de saúde</h1>
                <p>Preencha os campos abaixo para cadastrar um novo plano de saúde</p>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn primary-color-app white-text">Salvar</button>
                </form>
            </div>

            <div class="col">
                <h1>Planos de saúde cadastrados</h1>
                <p>Listagem dos planos de saúde já cadaastrados no sistema</p>

                {% if plans %}
                <ul class="list-group list-group-flush">
                    {% for plan in plans %}
                    <li class="list-group-item">
                        <p>{{ plan.name }} - {{ plan.email }} - {{ plan.contact }}</p>
                        <!-- <button class="btn btn-primary">Editar</button>
                        <button class="btn btn-danger">Deletar</button> -->
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Nenhum plano cadastrados até o momento</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>


{% endblock %}